<header class="bg-white shadow-md py-4">
  <div class="container mx-auto text-center">
    <!-- Navigation Links -->
    <nav>
      <ul class="flex justify-center space-x-6">
        <li>
          <a href="/host/add-home" class="text-teal-600 hover:text-teal-800 font-medium <%= currentPage === 'add-home' ? 'bg-red-400' : '' %>">Add Home</a>
        </li>
        <li>
          <a href="/host/view-homes" class="text-teal-600 hover:text-teal-800 font-medium <%= currentPage === 'view-homes' ? 'bg-red-400' : '' %>">View Homes</a>
        </li>
        <li>
          <a href="/about" class="text-teal-600 hover:text-teal-800 font-medium <%= currentPage === 'about' ? 'bg-red-400' : '' %>">About Us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
